﻿@model IEnumerable<CalifoniaNetCore.Models.Ficheiro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extensao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extensao.ExtensaoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FicheiroID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FicheiroID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FicheiroID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
