﻿@model Califonia.Models.Letra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Letra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstrofeLetra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstrofeLetra.EstrofeLetraID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefraoLetra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefraoLetra.RefraoLetraID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LetraID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
