﻿@model Califonia.Models.Letra

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Letra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LetraID" />
            <div class="form-group">
                <label asp-for="RefraoLetraID" class="control-label"></label>
                <select asp-for="RefraoLetraID" class="form-control" asp-items="ViewBag.RefraoLetraID"></select>
                <span asp-validation-for="RefraoLetraID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstrofeLetraID" class="control-label"></label>
                <select asp-for="EstrofeLetraID" class="form-control" asp-items="ViewBag.EstrofeLetraID"></select>
                <span asp-validation-for="EstrofeLetraID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
