﻿@model IEnumerable<Califonia.Models.Letra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstrofeLetra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefraoLetra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstrofeLetra.EstrofeLetraID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefraoLetra.RefraoLetraID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LetraID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LetraID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LetraID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
