﻿@model IEnumerable<Califonia.Models.Publicacao>

@{
    ViewData["Title"] = "Lista de Publicações";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
    <a asp-action="Upload">Importar Ficheiro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                <span>Ano de Edição:</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacaoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacaoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacaoID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
