﻿@model Califonia.Models.Publicacao

@{
    ViewData["Title"] = "Importar Lista";
}
@{/* TODO: Botão upload deveria ficar inactivo enquanto ficheiro carrega */}
@{/* TODO: Incluir progress bar para estado de carregamento do ficheiro*/}

<h4>Publicação</h4>
<hr />
@*<div class="row">
        <div class="col-md-4">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Escolher ficheiro</label>
            </div>
            <div class="enviar">
                <br />
                <input type="submit" value="Carregar" class="btn btn-primary" />
                <br /> <br />
            </div>
        </div>
    </div>*@
@if (!string.IsNullOrEmpty(@ViewData["Success"].ToString()))
{
    <div class="bs-component">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Info:</strong>@ViewData["Success"].
        </div>
        @*<button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>*@
    </div>
}


<form method="post" enctype="multipart/form-data" asp-controller="Publicacoes" asp-action="Upload">
    <div class="form-group">
        <div class="col-md-10">
            <p>Importar ficheiro:</p>
            <input type="file" name="ficheiro">
            <br />
            <small class="badge badge-warning">Nota: De momento, apenas são aceites ficheiros em formato csv.</small>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary">
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@*
    <script>
        $(document).ready(function () {
            let onchange = function () {
                let _this = $(this)[0];

                let f = new FormData();
                f.append('File', _this.files[0]);

                let onSuccess = function (model) {
                    console.log(model);
                }

                $.ajax({
                    method: 'POST',
                    url: 'publicacoes/upload',
                    data: f,
                    processData: false,
                    contentType: false
                }).done(onSuccess);
            };

            $(document).on('change', 'input[type=file]', onchange);
        })
    </script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
