﻿@model CalifoniaNetCore.Models.Cantico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cantico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataComposicao" class="control-label"></label>
                <input asp-for="DataComposicao" class="form-control" />
                <span asp-validation-for="DataComposicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSubmissao" class="control-label"></label>
                <input asp-for="DataSubmissao" class="form-control" />
                <span asp-validation-for="DataSubmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LetristaID" class="control-label"></label>
                <select asp-for="LetristaID" class ="form-control" asp-items="ViewBag.LetristaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompositorID" class="control-label"></label>
                <select asp-for="CompositorID" class ="form-control" asp-items="ViewBag.CompositorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
