﻿@model CalifoniaNetCore.Models.Cantico

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cantico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataComposicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataComposicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSubmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSubmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Letrista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Letrista.LetristaID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compositor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compositor.CompositorID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CanticoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
