﻿@model CalifoniaNetCore.Models.Cantico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cantico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataComposicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataComposicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSubmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSubmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Letrista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Letrista.LetristaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compositor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compositor.CompositorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CanticoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
