﻿@model IEnumerable<CalifoniaNetCore.Models.Cantico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataComposicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSubmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letrista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compositor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataComposicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSubmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letrista.LetristaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compositor.CompositorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CanticoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CanticoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CanticoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
